@import "../../../styles/global_vars";

.admin-login-form{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    @include py($padding: 2rem);

    @include flex-display;

    background-color: white;
    @include round-border($radius: 5px);
    
    h1{
        margin-bottom: 2rem;
    }

    .admin-login-input{
        // width: 20rem;
        display: flex;
        align-items: center;
        @include flex-display($dir: row);
        margin-bottom: 1rem;

        input {
            margin-left: 2rem;
            border: 0;
            padding: .5rem;
            @include round-border($radius: 5px);
            background-color: $light;
        }
    }

    .warn{
        color: $dark;
    }

    .submit{
        @include round-border($radius: 10px);
        @include button;
        
        margin-top: 1rem;
    }
}