@import "../../styles/global_vars";

.posting-view {
    height: 90vh;
    overflow-y: auto;

    .posting-metadata-container {
        position: relative; 
        $left-width: 80%;
       
        .posting-title {
            width: $left-width;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: calc(1vw + 2rem);
            flex-wrap: wrap;
        }
    
        .posting-info-container {
            width: $left-width;
            color: $dark;

            .posting-info {
                list-style: none;
                padding-left: 0;
    
                .info-item {
                    font-size: larger;
                }
            }

            a {
                text-decoration: none;
            }
            *:active {
                color: $dark;
            }
        }

        .posting-author-container {
            width: 20%;
            
            position: absolute;
            top: 0;
            right: 0;

            .posting-author-avatar {
                margin: .5rem;
                @include mx();

                width: 120px;
                height: 120px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    @include box-shadow();
                }
            }

            .posting-author-name {
                text-align: center;
                font-weight: bold;
                font-size: large;
            }
        }
    
    }

    .posting-image-container {
        width: 95%;
        @include my($margin: 2rem);
        @include mx();
        
        display: flex;
        flex-direction: row;
        align-items: center;

        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        .posting-images {
            display:inline-block;
        }

        .posting-image {
            @include mx($margin: 1rem);
            margin-bottom: 1rem;

            display: inline-block;
            height: 300px;
            width: auto;
            object-fit: contain;
            
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .posting-body-container {
        padding-right: 1rem;
        padding-bottom: 5rem;

        font-size: large;
    }
}