@import "./styles/common";
@import "./styles/global_vars";

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');


h1, h2, h3, h4, h5, h6 {
    font-family: $sans-serif;
    font-weight: 600;
}

div, p, li, button {
    font-family: $serif;
    font-weight: 500;
}

body {
    margin: 0;
}