@import "../../styles/global_vars";

.admin-login{
    .bg-img{
        position: fixed;
        top: 0;
        left: 0;
        background-image: url("./../../asset/AdminLogin/background.jpg");
        background-size: cover;
        filter: blur(8px);
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: scale(1.1);
    }
}