@import "../../styles/global_vars";

.home-view {
  
  height: 100vh;
  overflow-y: auto;

  .web-header{
    position: relative;
    @include px($padding: 32px);

    .web-title {
      font-weight: 500;
      font-family: $serif;
      margin-left: 8px;
    }
  }

  .posting-card-columns{
    display: flex;
    flex-direction: row;
    @include px($padding: 32px);
  }
  
}  