@import "../../../styles/global_vars";

.user-register-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    @include px($padding: 4rem);
    @include py($padding: 2rem);

    @include flex-display;

    .user-register-form {
        @include flex-display;
    }

    z-index: 1000;

    background-color: $dark;
    color: $light;

    @include round-border($radius: 5px);
    @include box-shadow;

    .register-title {
        margin-bottom: 2rem;
        margin-top: 0;
    }

    .user-register-input {
        width: 20rem;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        input {
            margin-left: auto;
            border: 0;
            padding: .5rem;
            @include round-border($radius: 5px);
        }
    }

    .register-message {
        align-self: end;
        .message{
            color: #00bfff;
        }
    }

    .register-submit-button{
        @include button($color: $light, $bg: $dark-gray);
        @include mx($margin: .5rem);
        margin-top: 1rem;
        font-size: 110%;

        text-align: center;
        text-decoration: none;
    }
}