@import "../../styles/global_vars";

.journey-page {
  .trip-type {
    @include mx;
    @include my($margin: 3rem);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(1vw + 2rem);
    flex-wrap: wrap;
    font-family: $serif;
  }

  .journey-list {
    overflow-y: auto;
  }
}
