@import "../../styles/global_vars";

.edit-profile-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 30%;
  // height: 30%;
  @include px($padding: 4rem);
  @include py($padding: 2rem);

  @include flex-display;

  //.user-login-form {
  //    @include flex-display;
  //}

  z-index: 1000;

  background-color: $dark;
  color: $light;

  .edit-profile-item {
    margin-bottom: 1rem;
  }

  .edit-profile-title {
    margin-bottom: 2rem;
    margin-top: 0;
    margin-right: 1rem;
  }

  .edit-profile-input {
    width: 25rem;

    align-items: center;
    margin-bottom: 1rem;

    input {
      margin-left: auto;
      border: 0;
      padding: 0.5rem;
      @include round-border($radius: 5px);
    }

    .edit-user-description {
      width: 25rem;
      height: 5rem;
    }
  }

  #edit-avatar-container {
    @include flex-display;
    .edit-avatar-presentation {
      height: 160px;
      width: 160px;
      min-height: 160px;
      min-width: 160px;
      @include my($margin: 1rem);
      

      .profile-avatar {
        height: 100%;
        width: 100%;
        object-fit: cover;
        @include round-border($radius: 50%);
      }
    }
  }

  @include round-border($radius: 5px);
  @include box-shadow;

  .edit-profile-confirm {
    @include button($color: $light, $bg: $dark-gray);
    @include mx($margin: 0.5rem);
    margin-top: 1rem;
    font-size: 110%;

    text-align: center;
    text-decoration: none;
  }

  .modal-buttons {
    @include flex-display($dir: row);
  }
}
