@import "../../styles/global_vars";

.user-login-form{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    background-color: white;
    @include round-border($radius: 5px);
    padding: .5rem;
    padding-bottom: 2rem;

    h1{
        margin-bottom: 2rem;
    }

    .user-login-input{
        width: 17vw;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        input{
            margin-left: auto;
            border: 0;
            padding: .5rem;
            @include round-border($radius: 5px);
            background-color: $light;
        }
    }

    .link{
        @include round-border($radius: 10px);
        @include box-shadow;
        margin-top: 1rem;
        font-size: 110%;
        font-weight: bold;
        width: 10vw;
        padding: .2rem;
        text-align: center;
        background-color: $dark;
        color: $light;
        text-decoration: none;
    }
}