@import "../../../styles/global_vars";

.journey-page {
  .journey-meta {
    margin: 0;
    @include flex-display($dir: row, $jc: "space-between");
  }

  .trip-type {
    // @include mx;
    margin-right: auto;
    @include my($margin: 3rem);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(1vw + 2rem);
    flex-wrap: wrap;
    font-family: $serif;
  }

  .journey-list {
    overflow-y: auto;
  }


  .edit-journey-btn {
    @include button($shadow: 0);
  }
}
