@import "../../styles/global_vars";

.journey-list-posting {
  display: flex;
  position: relative;
  color: black;
  //line-height: 1vh;
  height: 180px;
  width: 100%;
  @include my;
  @include mx;
  margin-bottom: 1.5rem;
  @include py();

  .journey-list-posting-text {
    @include mx($margin: 0);
    width: 100%;

    .journey-posting-date {
      @include my();
      // font-weight: bold;
    }

    .journey-posting-title {
      @include my($margin: .5rem);
      @include py();
      text-decoration: none;
      font-weight: 500;
      font-size: large;
    }

    .journey-posting-body {
      @include my();
      font-weight: normal;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      // Refence: This feature of limiting the word to 3 lines is inspired by this post: https://stackoverflow.com/questions/20792639/how-to-display-only-the-first-few-lines-of-a-div-clamping
    }
  }
  .journey-list-posting-image-container {
    margin-left: 1rem;
    width: 500px;
    height: 100%;
    .journey-list-posting-image {
      position: relative;
      height: 100%;
      object-fit: cover;
      width: 100%;
      // max-width: 400px;
      @include mx();
      
      // float: left;
      
      @include round-border();
    }
  }
  
}
