@import "../../styles/global_vars";

.admin-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    height: 100vh;
    padding: .5rem;
    padding-top: 3rem;
    background-color: $dark;
    width: 12vw;

    .admin-nav-item {
        @include px($padding: 1.5rem);
        @include py($padding: .5rem);
        @include round-border($radius: 3px);
        display: flex;
        align-items: center;
        color: $light;
        text-decoration: none;
    }
    .admin-nav-item:hover {
        background-color: $dark-gray;
    }
}

.admin-nav-blocker{
    position: sticky;
    float: left;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    height: 100vh;
    padding: .5rem;
    padding-top: 3rem;
    width: 12vw;
    z-index: -1;
}

img{
    margin-right: .5rem;
    width: 1.5rem;
}