@import "../../styles/global_vars";

$row_radius: .5rem;

.AdminPostTable{
    margin: auto;
    margin-top: 5vh;
    border-collapse: separate;
    border-spacing: 0 .2rem;
    width: 80vw;
    font-size: large;

    th{
        text-align: left;
        padding: .5rem;
    }
    

    .AdminPostRow{
        background-color: $dark;
        color: $light;
        border-radius: $row_radius;
        

        .AdminPostData{
            padding: .5rem;
            width: 20%;
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .LeftCol{
            border-bottom-left-radius: $row_radius;
            border-top-left-radius: $row_radius;
        }

        .RightCol{
            border-bottom-right-radius: $row_radius;
            border-top-right-radius: $row_radius;
        }

        button{
            display: block;
            margin: auto;
            padding: .2rem;
            width: 6rem;
            border-radius: .5rem;
            border: 0;
            background-color: #ff4c5c;
            color: $light;
        }
    }

    .AdminPostRow:hover{
        box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    }
}