@import "../../styles/global_vars";
.edit-posting-main {
    @include px($padding: 5%);
    // @include my($margin: 1rem);

    // Hide scroll bar
    // Reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #ddd; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #ccc; 
    }
}