@import "../../styles/global_vars";

.admin-home-main{
    width: 100vw;
    h1{
        font-size: 4rem;
        width: 85vw;
        float: left;
        margin-top: 10rem;
        text-align: center;
    }
}

