@import "../../styles/global_vars";

.profile-page {
  height: 100vh;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  .profile-page-main {
    @include px($padding: 5%);
    @include py($padding: 1%);

    overflow-y: auto;
    height: 100vh;
  }
}
