@import "../../styles/global_vars";
.trip-type-component {
  .trip-type {
    margin-top: 5rem;
    .trip-journey-link {
      color: $dark;
      font-weight: bold;
      font-family: $serif;
    }
  }
}
