@import "../../styles/global_vars";

.journey {
  // Hide scroll bar
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  .journey-main-view {
    @include px($padding: 5%);

    overflow-y: auto;
    height: 90vh;
  }
}
